/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* batas css reset */

body {
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
  background-color: #999;
}

header {
  display: flex;
  justify-content: space-between;
  height: 10vh;
  background-color: white;
  align-items: center;
}

header .greet {
  box-sizing: border-box;
  font-size: 30px;
  color: white;
  letter-spacing: 2px;
  background-color: #1bfe00;
}

header .greet span {
  background-color: #333;
  padding: 3.1vh;
}

header .contact {
  box-sizing: border-box;
  padding: 3.3vh;
  background-color: #1bfe00;
}

header .contact a {
  text-decoration: none;
  color: white;
  font-size: 30px;
  letter-spacing: 2px;
}

header .contact a:hover {
  color: black;
  animation: textFade 0.2s ease-in-out;
}

@keyframes textFade {
  0% {
    color: white;
    text-shadow: -4px 0px #5717e8, 4px 0px #e85717;
  }
  100% {
    color: #d52a2f;
  }
}
/* header end */

/* hero start */
.hero {
  margin-top: 20vh;
  margin-bottom: 20vh;
  display: flex;
  justify-content: center;
  height: auto;
  box-sizing: border-box;
}

.hero .motto {
  width: 25vw;
  text-align: right;
  margin-right: 20px;
}

.hero .motto li span {
  font-size: 80px;
}

.hero .separator {
  width: 1vw;
  background-color: #1bfe00;
  border-radius: 0.5vw;
}
/* .hero .card {
  margin-left: 20px;
  background-color: white;
  display: grid;
  grid-template-columns: repeat(6, auto);
  grid-template-rows: repeat(2, auto);
  grid-template-areas:
    "pict pict-name pict-name"
    "pict pict-desc pict-desc";

  justify-content: start;
  align-content: space-evenly;
  border-radius: 25px;
  border: 3px solid #333;
}

.card .profile-pic {
  align-self: center;
  grid-area: pict;
}

.card .profile-pic img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.card .pict-name {
  grid-area: pict-name;
  align-self: end;
  padding-left: 10px;
}

.card .pict-name span {
  font-size: 30px;
}

.card .pict-desc {
  grid-area: pict-desc;
  padding-left: 10px;
} */

.grid-example {
  margin-left: 20px;
  width: 25vw;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
    "box1 box2"
    "box1 box3";
  background-color: white;
  border: 2px solid #333;
  box-sizing: border-box;
  border-radius: 15px;
}

.grid-example .box1 {
  grid-area: box1;
}
.grid-example .box1 img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 13px 0px 0px 13px;
}
.grid-example .box2 {
  grid-area: box2;
  align-self: end;
  margin-left: 10px;
  margin-bottom: 3px;
  font-size: 20px;
}

.grid-example .box3 {
  grid-area: box3;
  align-self: start;
  margin-left: 10px;
  margin-top: 3px;
  font-size: 14px;
  text-align: left;
  word-spacing: 5px;
}
